In [50]:
import numpy as np
import statistics
import math
import pandas as pd

from scipy import stats
from scipy.stats.mstats import hmean, gmean

In [51]:
dataset = pd.read_csv("census.csv")
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [52]:
dataset_age = dataset['age']
dataset_age.head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [53]:
def get_statistics(dataframe):
  media = dataset_age.sum() / len(dataset_age)
  moda = statistics.mode(dataset_age)
  mediana = dataset_age.median()

  return media, moda, mediana

In [54]:
media, moda, mediana = get_statistics(dataset_age)

### Media

In [55]:
media

np.float64(38.58164675532078)

### Moda

In [56]:
 moda

36

### média aritmética

In [57]:
mediana

np.float64(37.0)

### média harmônica

In [58]:
hmean(dataset_age)

np.float64(33.91874139089839)

### média geométrica

In [59]:
gmean(dataset_age)

np.float64(36.210879158177256)

### média quadrática

In [60]:
def quadratic_mean(dataframe):
    return math.sqrt(sum([x**2 for x in dataframe]) / len(dataframe))

quadratic_mean(dataset_age)

40.9218664329987